@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #181719;
}
main {
  width: 90%;
  height: 100vh;
  margin: 2px auto;
  background-color: #181719;
  border-radius: 0.5rem;
  padding: 2rem;
}
header {
  display: flex;
  justify-content: space-between;
}
.burger-menu>img {
  display: none;
}

.logo h1 {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  border: 1px solid #fff;
  padding: 6px;
}
 nav ul {
  display: flex;
}
nav li {
  padding: 0 2rem;
  list-style: none;
  color: #fff;
}
nav li a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

 nav a::after {
  content: "";
  width: 0;
  display: block;
  height: 2px;
  background: #fff;
  margin-top: 5px;
}
a:hover::after {
  width: 100%;
}
section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.first{
  width: 30%;
  color: #fff;
  padding-top: 7rem;
  
}
.first h1 {
  font-family: 'Lora', serif;
  font-weight: 500;
  font-size: 30px;
}
.first p {
  padding: 1.5rem 0;
  width: 277px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.first a {
  text-decoration: none;
  color: #fff;
}

.second {
  width: 60%;
  position: relative;
  top: 0;
  left: 0;
  
}
.second img {
  width: 650px;
  height: 450px;
  margin-left: 1.5rem;
}
.card  {
  position: absolute;
  top: 86%;
  left: 47%;
  background-color: #181719;
  width: 320px;
  height: 130px;
  color: #fff;
}
.content-1 {
  display: flex;
  padding-top: 1rem;
}
.content-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content-text {
  padding-top: 0.4rem;
  margin-left: 1rem;
  font-family:  'Montserrat', sans-serif;
}
.content-text h2 {
  font-weight: 500;
  font-size: 13px;
}
.content-text p {
  font-weight: 200;
  font-size: 9px;
  padding-top: 0.3rem;
}
.content-2-text {
  margin: 1rem 1.5rem;
}
.content-2-text h3 {
  font-family: 'Lora', serif;
  font-weight: 650;
  font-size: 17px ;
  width: 183px;
}
footer {
  width: 80%;
  position: absolute;
  bottom: 0;
}
footer p {
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 768px) {
 body  {
    background-color: #181719;
  } 
  main {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0; 
  }
   nav a::after {
     display: none;
   }
  .close-menu {
  height: 2px;
  position: absolute;
  top: 25px;
  right: 14px;
  }
  .close-menu div {
    width: 22px;
    height: 2px;
    background-color: white;
    transform-origin: center;
  }
  .one {
    transform: rotate(45deg);
  }
  .two {
    position: absolute;
    top: 0;
    transform: rotate(-45deg); 
    }
   nav {
     width: 100vw;
     height: 100vh;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 10;
     background-color: black;
     display: none;
   }
   header nav ul  {
     margin-top: 115px;
     overflow: hidden;
     display: block;
   }
   header nav ul.open {
     height: auto;
   }
   header nav ul li {
     float: none;
     text-align: center;
     width: 100%;
     margin-bottom: 40px;
   }
   header nav ul li a {
    font-size: 20px;
    border-bottom: 2px solid #fff; 
   } 
   .logo {
     width: 30%;
   }
   .logo h1 {
     font-size: 12px;
     padding: 3px;
   }
   .burger-menu>img {
     width: 20px;
     display: block;
     cursor: pointer;
    
   }
  section {
   margin-top: 0;
   width: 100%;
   display: block;
  }
  .first {
    width: 100%;
    padding: 2rem 0;
  }
  .first h1 {
    font-size: 35px;
  }
  .first p {
    font-size: 13px;
    width: 250px;
    line-height: 1.3rem;
  }
  .second {
    width: 100%;

  }
 .second>img {
    margin: 0;
    width: 330px;
    height: 270px;
    }
  .card {
    top: 80%;
    left: 16%;
    width: 240px;
    height: 110px;
  }
.content-image img {
    width: 30px;
    height: 30px;
  }
.content-text {
  padding-top: 1px;
}
.content-text h2 {
  font-size: 10px;
}
.content-text p {
  font-size: 7px;
}
.content-2-text {
  margin-top: 0.5rem;
}
.content-2-text h3 {
  font-size: 15px;
}
footer {
  width: auto;
  position: relative;
  margin-top: 60px;
  z-index: 20;
}
footer p {

  font-size: 11px;
  width: 304px;
}
 
 
  

















  
}